.carousel-categories{
  display: flex;
  margin: 50px 30px 0;
  font-size: 24px;
  gap: 50px;
  color: rgba(0, 0, 0, 0.5);
  .home-category:hover{
    color: black;
    cursor: pointer;
  }
}
.carousel-subcategories{
  display: flex;
  margin: 30px;
  overflow-x: scroll;
  padding-bottom: 20px;
  gap: 25px;
  .home-subcategory{
    cursor: pointer;
    .home-subcategory-picture{
      width: 300px;
      height: 200px;
      filter: brightness(50%);
    }
    .home-subcategory-label{
      border: 1px solid rgba(0, 0, 0, 0.2);
      margin-top: 10px;
      padding: 10px;
  
    }
    &:hover{
      .home-subcategory-picture{
        filter: none;
      }
      .home-subcategory-label{
        border-color: black;
      }
    }
  }
}