.mentee-signup{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    label, button{
        width: 400px;
    }
    height: fit-content;
    label{
        display: flex;
        flex-direction: column;
        color: rgba(0, 0, 0, 0.7);
        font-size: 18px;
        gap: 5px;
        input{
            width: 400px;
            height: 50px;
            border-radius: 10px;
            border: 1px solid rgba(0, 0, 0, 0.4);
            padding: 10px;
            font-size: 18px;
            outline: none;
            &:focus{
                border: 2px solid #222E50;
            }
            &::placeholder{
                color:rgba(0, 0, 0, 0.4);
            }
        }
        textarea{
            width: 400px;
            height: 100px;
            border-radius: 10px;
            border: 1px solid rgba(0, 0, 0, 0.4);
            padding: 12px;
            font-size: 15px;
            outline: none;
            &:focus{
                border: 2px solid #222E50;
            }
        }
    }
    button{
        width: 400px;
        height: 50px;
        margin: auto;
        border-radius: 10px;
        background: #162c69;
        color: white;
        font-size: 20px;
        border: none;
        cursor: pointer;
        &:hover{
            background: #162c69ed;
        }
    }
    .mentor-signup-link{
        width: 400px;
        text-align: right;
        margin-top: -10px;
        color: #222E50;
        font-size: 14px;
        &:hover{
            color: #776c31;
        }
    }
}

.mentee-signup-container{
    display: flex;
    position: relative;
    .mentee-signup-img-container{
        width: 500px;
        
        img{
            width: 150%;
            aspect-ratio: 4/3;
            margin-top: 70px;
            position: relative;
            left: -50%; 
        }
    }
    .mentee-profile-pic-container{
        align-items: center;
        flex-direction: column;
        width: 200px;
        display: flex;
        gap: 20px;
        margin-left: 50px;
        margin-top: 75px;
        .mentee-profile-pic{
            color: white;
            border-radius: 50%;
            width: 150px;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 70px;
            background: linear-gradient(0deg,rgba(177,177,177,0.9)0%,rgba(180,180,180,0.4)100%);
        }
    
        .profile-pic-options{
            display: flex;
            width: 200px;
            justify-content: center;
            flex-wrap: wrap;
            width: 150px;
            gap: 20px;
            
            .profile-pic-option{
                border-radius: 50%;
                width: 50px;
                height: 50px;
                cursor: pointer;
            }
        }
    }
}

