.NavBar{
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 0 20px 0 30px;
    display: flex;
    height: 50px;
    gap: 20px;
    .nav-logo{
        position: relative;
        top: -5px;
        height: 50px;
        width: 50px;
        img{
            height: 100%;
            width: 100%;
            scale: 1.8;
            transform: rotate(3deg);
        }
    }
    .nav-logo-text{
        height: 50px;
        font-size: 30px;
        display: flex;
        align-items: center;
        color:rgba(0, 0, 0, 0.4);
    }
    .nav-links{
        display: flex;
        gap: 10px;
        a{
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            i{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 85%;
                height: 85%;
                color: white;
                border-radius: 50%;
            }
            .fa-right-to-bracket{
                background: #DFC853;
            }
            .fa-right-from-bracket{
                background: #DFC853;
            }
            .fa-people-arrows{
                background: #222e50f1;
            }
            .fa-circle-info{
                font-size: 28px;
                color: #222e50f1;
            }
            .fa-circle-question{
                font-size: 28px;
                color: #222e50f1;
            }
            &:hover{
                background: rgba(0, 0, 0, 0.04);
            }
        }
    }
}