.UserDashNew{
    max-width: 1300px;
    margin: auto;
    .dash-user-container{
        padding: 30px;
        display: flex;
        gap: 20px;
        .profile-picture{
            background: linear-gradient(0deg, rgba(177,177,177,0.9) 0%, rgba(180,180,180,0.4) 100%);
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            font-size: 32px;
            color: white;
            display: flex;
            height: 70px;
            width: 70px;
        }
        .user-info{
            color: rgba(0,0,0,0.8);
            justify-content: center;
            flex-direction: column;
            font-weight: bold;
            font-size: 22px;
            display: flex;
            gap: 5px;
            .dash-user-linkedin{
                color: rgba(0,0,0,0.5);
                font-weight: normal;
                width: fit-content;
                font-size: 16px;
            }
        }
    }

    .dash-assignments-container{
        background: rgba(235, 252, 255, 0.3);
        justify-content: space-between;
        position: relative;
        display: flex;
        margin-bottom: 30px;
        height: 400px;
        width: 100%;
        .dash-assignment-card{
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
            margin: auto 0 auto 80px;
            flex-direction: column;
            height: fit-content;
            background: white;
            border-radius: 5px;
            display: flex;
            padding: 10px;
            width: 400px;
            .dash-assignment-name{
                color:rgba(0, 0, 0, 0.8);
                font-weight: bold;
                font-size: 26px;
            }
            .dash-assignment-body{
                .dash-assignment-body-header{
                    color:rgba(0, 0, 0, 0.8);
                    padding-bottom: 5px;
                    font-size: 14px;
                }
                .dash-assignment-body-container{
                    padding: 10px 10px 10px 0;
                    overflow-y: scroll;
                    line-height: 22px;
                    height: 100px;
                }
            }
            a{
                background: rgba(0, 0, 0, 0.8);
                border-radius: 5px;
                width: fit-content;
                margin-top: 10px;
                color: white;
                padding: 10px;
                &:hover{
                    background: rgba(0, 0, 0, 0.75);
                }
            }
            
        }
        .dash-assignment-picture{
            display: flex;
            width: 65%;
            img{
                height: 100%;
                margin: auto;
            }
        }
        .assignment-button{
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            background: rgba(0, 0, 0, 0.8);
            justify-content: center;
            align-items: center;
            position: absolute;
            border-radius: 50%;
            font-size: 18px;
            cursor: pointer;
            color: white;
            display: flex;
            height: 40px;
            margin: auto;
            width: 40px;
            bottom: 0;
            top: 0;
            &:hover{
                background: rgba(0, 0, 0, 0.75);
            }
        }
        .dash-next{
            right: 20px;
        }
        .dash-previous{
            left: 20px;
        }
    }

    .dash-connections-container{
        flex-direction: column;
        padding: 0 30px;
        display: flex;
        gap: 10px;
        .dash-connections-header{
            justify-content: space-between;
            color: rgba(0,0,0,0.8);
            align-items: flex-end;
            font-weight: bold;
            font-size: 22px;
            display: flex;
            span{
                color: rgba(0,0,0,0.5);
                font-size: 16px;
                cursor: pointer;
                &:hover{
                    color: rgba(0,0,0,0.8);
                }
            }
        }
        .dash-connections{
            display: flex;
            gap: 20px;
            .dash-connection{
                box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
                flex-direction: column;
                border-radius: 10px;
                margin-bottom: 70px;
                cursor: pointer;
                display: flex;
                padding: 10px;
                height: 200px;
                width: 160px;
                gap: 5px;
                .profile-picture{
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 5px;
                    border-radius: 50%;
                    font-size: 22px;
                    color: white;
                    display: flex;
                    height: 50px;
                    width: 50px;
                }
                .dash-connection-mentor{
                    color: rgba(0, 0, 0, 0.7);
                    font-weight: bold;
                    font-size: 16px;
                }
                .dash-connection-skill{
                    color: rgba(0, 0, 0, 0.6);
                    font-weight: bold;
                    font-size: 14px;
                }
                .dash-connection-completion{
                    color: rgba(0, 0, 0, 0.4);
                    margin-top: auto;
                    font-size: 16px;
                }
            }
        }
    }

}

.dash-network-card{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    margin: auto 0 auto 80px;
    flex-direction: column;
    height: fit-content;
    background: white;
    border-radius: 5px;
    display: flex;
    padding: 10px;
    width: 400px;
    gap: 10px;
    .network-card-info{
        display: flex;
        gap: 10px;
        .network-card-pic{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 22px;
        }
        .network-card-text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2px;
            span{
                font-size: 14px;
                color: rgba(0, 0, 0, 0.7);
            }
        }
    }
    .network-card-bio{
        overflow-y: scroll;
        line-height: 22px;
        height: 110px;
        padding-right: 10px;
    }
    .network-card-linkedin{
        color: white;
        background:rgba(0, 0, 0, 0.8);
        width: fit-content;
        padding: 7px 10px;
        border-radius: 5px;
    }
}
.liknedin-form{
    padding-left: 2px;
    display: flex;
    gap: 5px;
    input{
        padding: 2px;
        font-size: 16px;
    }
    button{
        padding: 2px 7px;
        color: white;
        background: rgba(0, 0, 0, 0.8);
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}